@import "bourbon/bourbon"
@import "sass/_custom"

/*Внешние блоки*/

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "UbuntuRegular", sans-serif
	overflow-x: hidden
	height: 9000px

.header
	&__top
		background-color: #363636
		height: 42px
	&__h-search
		padding-top: 8px
	&__h-nav
		text-align: right
	&__center
		padding-top: 20px
		padding-bottom: 30px
	&__h-logo
		text-align: left
	&__h-schedule
		padding-top: 14px
	&__h-addr
		padding-top: 14px
	&__h-profil
		margin-left: -30px
		padding-top: 14px
	&__bottom
		background-color: #fbf7f4

.page
	&__p-title
		padding-top: 40px
		padding-bottom: 32px
	&__p-selectmenu
		margin-left: -6px
		margin-right: -6px
		margin-top: -6px
	&__p-beverages
		padding-top: 42px