@import "bourbon/bourbon"
@import "sass/_blocks"

/*Компоненты*/

.h-search
	position: relative
	&__input
		display: block
		width: 100%
		height: 26px
		border: 1px solid #797979
		background-color: transparent
		padding-right: 34px
		font-size: 14px
		padding-left: 6px
		color: #fff
		&::-webkit-input-placeholder
			opacity: 1
		&::-moz-placeholder
			opacity: 1
		&:-moz-placeholder
			opacity: 1
		&:-ms-input-placeholder
			opacity: 1
	.fa
		font-size: 16px
		color: #fff
		position: absolute
		right: 10px
		top: 0
		display: block
		line-height: 26px
		vertical-align: middle
	&__loop
		text-decoration: none
		color: #fff
		.fa
			font-size: 24px
			color: #e2e2e2
			display: block
			vertical-align: middle
		&:hover, &:focus, &:active
			text-decoration: none
			color: #fff

.h-nav
	font-size: 0
	&__item
		display: inline-block
		&:last-child
			.h-nav__link
				padding-right: 0
	&__link
		font-size: 14px
		display: block
		line-height: 42px
		padding: 0 18px
		color: #e2e2e2
		&:hover, &:focus, &:active
			color: rgba(#e2e2e2,.8)
			text-decoration: none

.h-logo
	display: inline-block
	max-width: 100%
	&__img
		display: block
		max-width: 100%
		height: auto

.h-schedule
	&__phone
		font-size: 18px
		color: #515151
		line-height: 22px
		display: block
		padding-bottom: 10px
	&__description
		color: #515151
		font-size: 14px
		line-height: 17px
		font-family: "UbuntuLight", sans-serif
.h-addr
	&__title
	&__desription
	&__link
		text-decoration: underline
		color: #85a17d
		&:hover, &:focus, &:active
			text-decoration: none
			color: #85a17d

.h-profil
	&__top
		padding-left: 23px
		text-align: right
		position: relative
		.fa
			position: absolute
			left: 4px
			top: -2px
			color: #363636
			font-size: 24px
	&__link
		display: inline-block
		font-size: 16px
		color: #363636
		text-decoration: underline
		&:hover, &:focus, &:active
			text-decoration: none
			color: #363636
	&__and
		display: inline-block
		color: #363636
		margin: 0 6px
	&__bottom
		text-align: right
		position: relative
		padding-left: 23px
		margin-top: 24px
		cursor: pointer
		position: relative
		.fa
			position: absolute
			left: 0
			font-size: 24px
			color: #f26c4f
			top: -4px
	&__corz
		display: block
		padding-right: 15px
		color: #515151
		font-size: 14px
		position: relative
		cursor: pointer
		-moz-user-select: none
		-khtml-user-select: none
		-webkit-user-select: none
		user-select: none
		&::after
			content: "\f0d7"
			font-family: "FontAwesome"
			font-size: 14px
			color: #767676
			display: block
			position: absolute
			right: 0
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)

.h-catalog
	font-size: 0
	&__item
		display: inline-block
		padding-right: 60px
		position: relative
		&:last-child
			.h-catalog__link
				padding-right: 0
				&::after
					display: none
	&__link
		display: block
		padding-right: 16px
		font-family: "UbuntuLight", sans-serif
		font-size: 16px
		line-height: 40px
		color: #5c4c47
		position: relative
		&::after
			content: "\f0d7"
			font-family: "FontAwesome"
			color: #5c4c47
			position: absolute
			right: 0
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)
		&:hover, &:focus, &:active
			text-decoration: none
			color: #5c4c47

.p-slider
	&__item
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
		height: 670px
		&::after
			content: ''
			display: block
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%
			background-color: rgba(#000,.47)
			z-index: 1
	&__img
		display: block
		width: 100%
		height: auto
	.owl-dots
		font-size: 0
		position: absolute
		bottom: 50px
		left: 0
		right: 0
		text-align: center
	.owl-dot
		width: 16px
		height: 16px
		border-radius: 50%
		-webkit-box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.75)
		-moz-box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.75)
		box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.75)
		background-color: #fff
		display: inline-block
		margin: 0 4px
	.owl-nav
		display: none
	.active
		background-color: #f26c4f
	&__block
		z-index: 2
		position: absolute
		left: 0
		right: 0
		bottom: 0
		top: 0
		background-repeat: no-repeat
		background-position: center center
		text-align: center
		padding-top: 180px
	&__title
		font-size: 48px
		font-family: "NautilusPompiliusRegular", sans-serif
		color: #fff
		display: block
	&__description
		color: #fff
		font-size: 24px
		font-family: "UbuntuLight", sans-serif
		margin-bottom: 40px
		display: block

.p-selectmenu
	display: grid
	&-top
		grid-template-columns: 2fr 2fr 2fr 1fr
	&-bottom
		grid-template-columns: 6fr 1fr
	&__item
		padding: 6px
	&__input
		border: 1px solid #a4a4a4
		padding: 10px 42px 10px 16px
		color: #767676
		width: 100%
		display: block
		font-family: "UbuntuLight", sans-serif
		&::-webkit-input-placeholder
			opacity: 1
			color: #767676
		&::-moz-placeholder
			opacity: 1
			color: #767676
		&:-moz-placeholder
			opacity: 1
			color: #767676
		&:-ms-input-placeholder
			opacity: 1
			color: #767676

.p-beverages
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	-webkit-justify-content: space-between
	&__item
	&__link
		display: inline-block
	&__top
		width: 192px
		height: 192px
		border-radius: 50%
		overflow: hidden
	&__img
		min-width: 100%
		min-height: 100%
		display: block
	&__bottom
		height: 70px
		overflow: hidden
	&__title
		color: #5c4c47
		font-size: 24px
		line-height: 30px
		font-family: "NautilusPompiliusRegular"
		display: block
		width: 192px
		text-align: center
		margin-top: 8px

.p-item
	display: block
	border: 1px solid #d1d1d1
	width: 100%
	color: #fff
	position: relative
	&__top
		height: 240px
		width: 100%
		overflow: hidden
	&__img
		height: 100%
		width: auto
	&__bottom
		padding-top: 10px
		padding-left: 15px
		padding-right: 15px
		padding-bottom: 30px
		&-active
			position: absolute
			left: -1px
			right: -1px
			top: 100%
			background-color: #fff
			z-index: 2
			border-left: 1px solid #d1d1d1
			border-right: 1px solid #d1d1d1
			border-bottom: 1px solid #d1d1d1
			padding-bottom: 20px
			.p-item__button
				position: static
				margin-top: 10px
			.p-item__description
				display: block
	&__title
		color: #4e3933
		font-size: 24px
		display: block
		text-align: center
	&__cat
		display: block
		text-align: center
		color: #919090
		font-size: 14px
		font-family: "UbuntuLight", sans-serif
		padding-top: 5px
	&__row
		padding-top: 10px
		@include clearfix
		.ui-selectmenu-button
			width: 60%
			float: left
			padding: 8px 42px 8px 14px
		.ui-selectmenu-text
			font-size: 14px
	&__price
		font-family: "NautilusPompiliusRegular"
		font-size: 30px
		color: #4e3933
		float: right
		width: 39%
		text-align: right
		line-height: 100%
		padding-top: 6px
		&::after
			content: 'Р'
	&__description
		font-size: 12px
		color: #4e3933
		display: block
		padding-top: 10px
		display: none
		padding-bottom: 10px
	&__more
		display: inline-block
		font-size: 14px
		color: #a19e9d
		text-decoration: underline
		margin-top: 10px
		&:hover, &:focus, &:active
			text-decoration: underline
			color: #a19e9d
		&-off
			display: none
	&__button
		text-transform: uppercase
		height: 36px
		border: 1px solid #f26f53
		border-radius: 5px
		position: absolute
		z-index: 2
		left: 0
		right: 0
		bottom: -18px
		display: block
		width: 175px
		text-align: center
		line-height: 34px
		background-color: #fff
		margin: 0 auto
		color: #f26c4f
		&:hover, &:focus, &:active
			color: #fff
			background-color: #f26c4f
			text-decoration: none

.p-morebtn
	text-transform: uppercase
	color: #85a17d
	height: 42px
	border: 2px solid #85a17d
	width: 226px
	display: inline-block
	line-height: 38px
	text-align: center
	font-family: "UbuntuMedium"
	&:hover, &:focus, &:active
		text-decoration: none
		color: #fff
		background-color: #85a17d
	&-trans
		background-color: #85a17d
		color: #fff
		&:hover, &:focus, &:active
			background-color: transparent
			color: #85a17d

.p-inst
	&__link
		display: block
		height: 100%
		width: 100%
		overflow: hidden
	&__img
		display: block
		min-width: 100%
		min-height: 100%
		height: auto

.p-signup
	&__title
		color: #767676
		font-size: 24px
		font-family: "NautilusPompiliusRegular", sans-serif
		padding-bottom: 20px
		text-align: center
	&__list
		font-size: 0
		text-align: center
	&__item
		display: inline-block
		margin: 0 11px
	&__link
		display: block
		width: 50px
		height: 50px
		background-color: #dcc0b4
		border-radius: 50%
		text-align: center
		.fa
			font-size: 30px
			color: #fff
			display: inline-block
			line-height: 50px
			text-decoration: none
		&:hover, &:focus, &:active
			text-decoration: none
			color: #fff
			opacity: 0.6

.p-stat
	display: block
	height: 360px
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	position: relative
	border: 1px solid rgba(#4e3933,.3)
	&__bottom
		position: absolute
		bottom: -1px
		left: -1px
		right: -1px
		background-color: rgba(#fff,.8)
		padding: 16px 28px
		z-index: 2
	&__title
		font-size: 24px
		line-height: 30px
		color: #4e3933
		display: block
	&__description
		font-size: 16px
		line-height: 20px
		color: #4b4b4b
		display: block
		padding-top: 10px
		font-family: "UbuntuLight", sans-serif

.p-statmore
	color: #4b4b4b
	font-size: 18px
	text-decoration: underline
	font-family: "UbuntuLight", sans-serif
	line-height: 24px
	display: inline-block
	&:hover, &:focus, &:active
		text-decoration: none
		color: #4b4b4b

.p-trigers
	width: 220px
	&__top
		height: 280px
		width: 100%
		display: block
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		align-items: center
		justify-content: space-between
		-webkit-justify-content: space-between
	&__img
		display: block
		max-width: 100%
		max-height: 100%
		position: relative
		left: 50%
		transform: translateX(-50%)
		-webkit-transform: translateX(-50%)


	&__bottom
		display: block
		text-align: center
		height: 70px
	&__title
		display: inline-block
		color: #fff
		letter-spacing: 0.01em
	&__slider
		.p-trigers
			width: 100%
		.p-trigers__img
			width: auto !important
			height: auto
		.p-trigers__top
			width: 100%
		.p-trigers__bottom
			width: 100%
		.owl-nav
		display: none
		.owl-dots
			font-size: 0
			position: absolute
			bottom: -35px
			left: 0
			right: 0
			text-align: center
		.owl-dot
			width: 16px
			height: 16px
			border-radius: 50%
			-webkit-box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.75)
			-moz-box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.75)
			box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.75)
			background-color: #fff
			display: inline-block
			margin: 0 4px
		.owl-nav
			display: none
		.owl-dot.active
			background-color: #f26c4f

.f-soc
	&__list
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		align-items: center
		justify-content: space-between
		-webkit-justify-content: space-between
	&__item
		display: block
	&__link
		width: 28px
		height: 28px
		display: block
		background-color: #85a17d
		border-radius: 50%
		text-align: center
		.fa
			line-height: 28px
			display: inline-block
			color: #fff
			font-size: 16px
		&:hover, &:focus, &:active
			text-decoration: none
			color: #fff
			opacity: 0.6

.f-menu
	&__item
		text-align: left
		display: block
		padding-bottom: 10px
		padding-top: 10px
	&__link
		display: inline-block
		text-transform: uppercase
		font-size: 14px
		line-height: 20px
		color: #fff
		letter-spacing: 0.01em
		&:hover, &:focus, &:active
			text-decoration: underline
			color: #fff
	b
		&:hover, &:focus, &:active
			text-decoration: none
	&-sub
		.f-menu__link
			text-transform: none
			font-size: 14px

.f-copy
	&__link
		display: inline-block
		color: #fff
		text-decoration: underline
		font-size: 14px
		line-height: 20px
		&:hover, &:focus, &:active
			color: #fff
			text-decoration: none
	&__text
		display: inline-block
		color: #fff
		font-size: 14px
		line-height: 20px

.h-profilPopup
	position: absolute
	top: 100%
	right: 0
	width: 300px
	background-color: #fff
	border: 1px solid #f8f8f8
	z-index: 2
	padding: 20px 15px 30px 15px
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3)
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3)
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3)
	display: none
	&__close
		display: inline-block
		position: absolute
		left: 0
		top: 50%
		transform: tyranslateY(-50%)
		.fa
			color: #bcbcbc
			line-height: 18px
			font-size: 18px
	&__item
		position: relative
		min-height: 65px
		padding-left: 109px
		&-wrapper
			padding: 16px 0 17px
			border-bottom: 1px solid #aec0a8
	&__photo
		width: 70px
		height: 65px
		overflow: hidden
		position: absolute
		left: 25px
		top: 0
	&__img
		height: 100%
		display: block
		min-width: 100%
		width: auto
		float: left
	&__description
		text-align: left
	&__title
		color: #4e3933
		font-size: 14px
		display: block
		width: 100%
	&__cat
		display: block
		font-size: 12px
		color: #919090
		font-family: "UbuntuLight", sans-serif
		padding: 4px 0 5px
	&__row
		@include clearfix
	.ui-selectmenu-text
		font-size: 12px
	.ui-selectmenu-button.ui-button
		padding: 3px
		padding-right: 18px
		width: 50%
		float: left
	.ui-selectmenu-button-closed
		&::after
			font-size: 10px
			right: 5px
	.ui-selectmenu-button-open
		&::after
			font-size: 10px
			right: 5px
	&__price
		width: 49%
		float: right
		text-align: center
		font-family: "NautilusPompiliusRegular", sans-serif
		font-size: 20px
		color: #4e3933
		padding-top: 0
		vertical-align: middle
		&::after
			content: 'Р'
	&__bottom
		padding-top: 16px
		text-align: right
	&__sum
		font-size: 18px
		color: #4e3933
		padding-right: 15px
		margin-bottom: 16px
		display: block
		span
			font-size: 20px
			font-family: "NautilusPompiliusRegular", sans-serif
			display: inline-block
			margin-left: 10px
			&::after
				content: 'Р'
				margin-left: 5px
	&__button
		width: 172px
		display: inline-block
		text-transform: uppercase
		font-size: 14px

.h-catalog-sub
	background-color: #fbf7f4
	position: absolute
	top: 100%
	left: 0
	width: 300px
	z-index: 2
	display: none
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3)
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3)
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3)
	&__item
		display: block
		width: 100%
		padding: 10px 20px
	&__link
		text-decoration: none
		font-size: 14px
		color: #5c4c47
		font-family: "UbuntuLight", sans-serif
		&:hover, &:focus, &:active
			text-decoration: underline
			color: #5c4c47

.mob-search
	display: inline-block
	.fa
		color: #e2e2e2
		font-size: 20px
		line-height: 42px
	&__window
		position: absolute
		display: none
		top: 100%
		left: 0
		right: 0
		z-index: 5
		padding: 8px 15px
		background-color: #363636
		-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
		-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
		.h-search__input
			border: 1px solid #e2e2e2

.mob-menu
	position: absolute
	left: 0
	right: 0
	top: 100%
	background-color: #363636
	z-index: 10
	text-align: left
	padding: 0 20px
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
	display: none
	&__button
		display: inline-block
		.fa
			color: #e2e2e2
			font-size: 20px
			line-height: 42px
	&__item
		padding: 10px 0 11px
		border-bottom: 1px solid #687864
		display: block
		&:last-child
			border-bottom: none
		&-menu
			.mob-menu__link
				padding-right: 20px
				&::after
					content: "\f0d7"
					font-family: "FontAwesome"
					display: block
					position: absolute
					right: 0
					top: 50%
					transform: translateY(-50%)
					-webkit-transform: translateY(-50%)
	&__link
		color: #e2e2e2
		font-size: 18px
		font-family: "UbuntuLight", sans-serif
		display: inline-block
		padding-right: 0
		position: relative
		&:hover, &:focus, &:active
			text-decoration: none
			color: #e2e2e2
.mob-logo
	display: inline-block
	margin-top: 8px
.mob-phone
	display: inline-block
	.fa
		color: #e2e2e2
		font-size: 20px
		line-height: 42px
.mob-map
	display: inline-block
	.fa
		color: #e2e2e2
		font-size: 20px
		line-height: 42px
.mob-basket
	display: inline-block
	position: relative
	.fa
		color: #f26c4f
		font-size: 20px
		line-height: 42px
	&__count
		width: 16px
		height: 16px
		border-radius: 50%
		font-size: 12px
		color: #767676
		background-color: #fbf7f4
		position: absolute
		right: -8px
		top: 6px
		z-index: 2
		text-align: center


.mob-catalogmenu
	position: absolute
	left: 0
	right: 0
	top: 100%
	z-index: -1
	background-color: #fbf7f4
	padding: 5px 20px 0
	display: none
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
	&::after
		content: ''
		display: block
		width: 100%
		height: 100%
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		-webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.3)
		-moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.3)
		box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.3)
		z-index: -1
	&__button
		display: block
		text-align: center
		span
			text-transform: uppercase
			line-height: 40px
			font-size: 16px
			color: #5d4c47
			font-family: "RobotoLight", sans-serif
			display: inline-block
			padding-right: 16px
			position: relative
			&::before
				content: "\f0c9"
				font-family: "FontAwesome"
				font-size: 16px
				display: inline-block
				margin-right: 10px
			&::after
				content: "\f0d7"
				font-family: "FontAwesome"
				font-size: 16px
				display: inline-block
				margin-left: 10px
				position: absolute
				right: 0
				top: 50%
				transform: translateY(-50%)
				-webkit-transform: translateY(-50%)
	&__item
		padding: 10px 0 11px
		border-bottom: 1px solid #a8b89e
		display: block
		&:last-child
			border-bottom: none
			padding-bottom: 10px
		&-menu
			.mob-catalogmenu__link
				padding-right: 20px
				&::after
					content: "\f0d7"
					font-family: "FontAwesome"
					display: block
					position: absolute
					right: 0
					top: 50%
					transform: translateY(-50%)
					-webkit-transform: translateY(-50%)
	&__link
		color: #5d4c47
		font-size: 18px
		font-family: "UbuntuLight", sans-serif
		display: inline-block
		padding-right: 0
		position: relative
		&:hover, &:focus, &:active
			text-decoration: none
			color: #5d4c47

.mob-catalogmenuSub
	padding: 5px 0 5px 20px
	display: none
	&__item
		padding: 5px 0
	&__link
		color: #5d4c47
		font-size: 14px
		font-family: "UbuntuLight", sans-serif
		display: inline-block
		&:hover, &:focus, &:active
			text-decoration: underline
			color: #5d4c47

.mob-menuSub
	padding: 5px 0 5px 20px
	display: none
	&__item
		padding: 5px 0
	&__link
		color: #e2e2e2
		font-size: 14px
		font-family: "UbuntuLight", sans-serif
		display: inline-block
		&:hover, &:focus, &:active
			text-decoration: underline
			color: #e2e2e2

.p-inst-sl
	padding-bottom: 64px
	.owl-nav
		display: none
	.owl-dots
		font-size: 0
		position: absolute
		bottom: 24px
		left: 0
		right: 0
		text-align: center
	.owl-dot
		width: 16px
		height: 16px
		border-radius: 50%
		-webkit-box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.75)
		-moz-box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.75)
		box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.75)
		background-color: #fff
		display: inline-block
		margin: 0 4px
	.owl-nav
		display: none
	.active
		background-color: #f26c4f
	&__item
	&__link
		display: block
	&__img
		display: block
		width: 100%
		height: auto

.f-menu-mob
	display: block
	min-height: 1px
	width: 163px
	margin: 0 auto
	background-color: #97908e
	clear: both